.a {
    margin-right: 20px;
}
.aa {
    margin-right: 20px;
}
.aaa {
    margin-right: 20px;
}
div {
    margin: auto;
    background-color: white;
    width: 300px;
    height: 80px;
    margin-top: 100px;
}